.card{
    width: 280px;

}
.col-3{
    width: 280px;
    :hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  
}


@media (max-width:700px){
    
}